<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Pure Survey Tests" verbose="1">
    <listeners>
        <listener class-name="za.puresurvey.listeners.TestListener"/>
    </listeners>

    <test name="1 - Login">
        <classes>
            <class name="za.puresurvey.tests.login.LoginTest"/>
        </classes>
    </test>

    <test name="2 - Dashboard">
        <classes>
            <class name="za.puresurvey.tests.dashboard.DashboardTest"/>
        </classes>
    </test>

    <test name="3 - Surveys">
        <classes>
            <class name="za.puresurvey.tests.surveys.SurveysTest"/>
            <class name="za.puresurvey.tests.surveys.SurveysSubModulesTest"/>
        </classes>
    </test>

    <test name="4 - Distribution">
        <classes>
            <class name="za.puresurvey.tests.distribution.DistributionTest"/>
        </classes>
    </test>

    <test name="5 - Compliance">
        <classes>
            <class name="za.puresurvey.tests.compliance.ComplianceTest"/>
        </classes>
    </test>

    <test name="6 - Integrations">
        <classes>
            <class name="za.puresurvey.tests.integration.IntegrationTest"/>
        </classes>
    </test>

    <test name="7 - Administration">
        <classes>
            <class name="za.puresurvey.tests.administration.AdministrationTest"/>
        </classes>
    </test>
</suite>
